<div class="row-fluid">
  <div class="about_me">
    <div class="about_title">
      <h1>About Eeedddddd</h1>
    </div>
  <div class="jumbotron">
    <div class="row text-center">
      <div class="about_photo">
        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT6SNKADPY321Tx2GHXlYp7Ge7gnIPumj27O3lwZbZEwgONrial" alt="ed" class="img-circle">
      </div>
      <div class="about_bio">
        <p>Edward joins the App Academy with five years of engineering and management experience. In the semiconductor industry, his work focused on business process optimization, engineering development, and cost reduction methodologies. Most recently, he has traveled to Shanghai to assist an automobile manufacturer start-up with business development, telematics service definition, and product management. Edward earned his Bachelor of Science in Electrical Engineering with Honors from the University of California, Davis, and obtained his Master of Business Administration from the University of Southern California’s Marshall School of Business. Edward enjoys equity valuation, rock climbing, motorsports, and photography.</p>
      </div>
    </div>
  </div>
</div>