
<h1>About</h1>

<div class="jumbotron">
  <div class="title text-center">
    <h1>Our Team</h1>
  </div>
  <div class="row text-center">
    <div class="col-xs-6">
      <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT6SNKADPY321Tx2GHXlYp7Ge7gnIPumj27O3lwZbZEwgONrial" alt="ed" class="img-circle">
      <p>Ed is super cool</p>

    </div>
    <div class="col-xs-6">
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTdHo0N8aI-uU5v8zDmLW5RMZVQr18Ai8-0ckQ0VTJaZPxE6Lge" alt="ben" class="img-circle">
      <p>Ben is super smart</p>

    </div>
  </div>
</div>