<div class="row-fluid">
  <div class="col-md-12">
    <div class="row petjoy_main">
      <div class="col-md-5">
        <div class="title_image_div">
          <img class="title_image"
              src="http://www.boldsky.com/img/2012/07/27-child-pet-270712.jpg">
        </div>
      </div>
      
      <div class="petjoy col-md-7">
        <div class="col-md-offset-5">
    
          <div class="petjoy_tag">
            <h1>Create, Share, and Adopt a Pet!
          </div>

          <div class="join_us">
            <h1>Join Us!<h1>
          </div>
          <div class="post_container">
            <div class="join_form">
              <%@user = User.new%>
              <%= render "users/form", :user => @user,
                    :action => users_url, :message => "Create User"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <h1>Sign In</h1>

<form action="<%= session_url %>" method="post">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <label for="user_username">Username</label>
  <input
     id="user_username"
     name="user[username]"
     type="text">
  <br>

  <label for="user_password">Password</label>
  <input
     id="user_password"
     name="user[password]"
     type="password">
  <br>

  <input type="submit" value="Log in">
</form> -->
