<div class="row">
  <div class="col-xs-4">
    <div class="col-xs-offset-1">
      <form role="form">
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

        <div class="form-group">
          <label for="pet_name">Pet's Name</label>
          <input id="pet_name" name="pet[name]" value="pet.get('name')"
        </div>


        <input type="submit" value="<%= message %>" class="btn btn-parimary">
      </form>
    </div>
  </div>
</div>