<div class="col-xs-10">
  <div class="col-xs-offset-1">
    <div class="profile_pic">

      <h2 id="name"><%=pet.get('name')%></h2>
      <img src="<%=pet.get('photo_url')%>", alt="<%=pet.get('name')%>"
        height="400" width="640">

      <h4 id="content_title">About<h4>
      <p id="content"><%=pet.get('about')%></p>
    </div>
  </div>
</div>
