<div class="col-md-12">
  <form role="form">
    <input type="hidden" name="authenticity_token" value="<%=FORM_AUTHENTICITY_TOKEN%>">
      <div class="row">
        <div class="form_title">
          <label for="post_body">Post Content</label>
        </div>
        <div class="form_group">
          <textarea id="post_body" name="post[body]"></textarea>
        </div>

        <div class="photo_form_container">
        </div>
      </div>
      <input type="hidden" name="postshare[pet_id][1]" value="<%=pet.escape('id')%>">
      <div class="row">
        <div class="buttons">
          <button class="btn btn-add-photo">Add Photo</button>
          <input type="submit" value="Leave a Post" class="btn btn-post">
        </div>
      </div>
  </form>
</div>