<div class="pet_show">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <div class="top_header"></div>
        <div class="pet_testimonial"></div>
      </div>

        <div class="pet_wall col-md-6"></div>
    </div>

</div>