<form role="form">
  <input type="hidden" name="authenticity_token" value="<%=FORM_AUTHENTICITY_TOKEN%>">
  <div class="form_title">
    <label for="testimonial_body">Testimonial Content</label>
  </div>

  <div class="form_group">
    <textarea id="testimonial_body" name="testimonial[body]"></textarea>
  </div>

  <div class="testimonial_buttons">
    <input type="hidden" name="testimonial[pet_id]" value="<%=pet.get('id')%>">
    <input type="submit" value="Leave a Testimonial" class="btn btn-testimonial">
  </div>
</form>