<div class="form_group">
  <label for="photo_url">Photo URL:</label>
  <input id="photo_url" name="photo[][photo_url]">
</div>

<div class="form_group">
  <label for="description">Description:</label>
  <input id="description" name="photo[][description]">
</div>

<input type="hidden" name="photo[][user_id]" value="<%=CURRENT_USER_ID%>">
