<div class="gallery span8">
  <% photos.forEach(function(photo){ %>
    <div class="photo_container">

      <div class="photo_tag">
        <a><%=photo.get('description')%></a>
      </div>

      <div class="gallery_photo_div">
        <a>
          <img class="gallery_photo" photo_id=<%=photo.id%> 
              src="<%=photo.get('photo_url')%>" alt="<%=photo.get('description')%>"
              height="100" width="100">
        </a>
      </div>
    </div>
  <% }); %>
</div>

<div class="back_button">
  <button class="btn back">Back</button>
</div>

<div class="modal fade" id="pictureModal" tabindex="-1" role="dialog" 
      aria-labelledby="thisModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-photo-title" id="thisModalLabel"></h4>
      </div>
      <div class="modal-body">
        <div class="span8">
          <img class="modal_photo img-responsive inline-block" src="" alt="">
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>