<div class="row">
  <div class="col-xs-4">
    <div class="col-xs-offset-1">
      <form role="form">

        <div class="form-group">
          <label for="testimonial_body">Testimonial Content</label>
          <textarea id="testimonial_body" name="testimonial[body]"></textarea>
        </div>
        <input type="hidden" name="testimonial[pet_id]" value="<%=pet_id%>">
        <input type="submit" value="Add Testimonial" class="btn btn-parimary">
      </form>
    </div>
  </div>
</div>