/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


@import "bootstrap";

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #fefcf8;
  text-align: center;
  background: #C6DD52;
  //background: url('radial-gradient.png') 50% 50% no-repeat;
  //background: radial-gradient(#a1e048, #6a942f);
 }

.btn {
  margin : 5px;
}

.modal-content {
  //background: #2d78a0;
}

.navbar-default {
  background-color: #2d78a0;
  border : 3px solid white;
  color: #fefcf8;
  padding-left : 20px;
  padding-right : 20px;

//  border-color: blue;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #eca02f;
}

.navbar-default .navbar-brand {
 color: white;
}

.navbar-default .navbar-brand:hover {
  color: #eca02f;
}

.navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
background-color: #2d78a0;
color: white;
}

.content {
    text-align: left;
    width: 800px;
    margin: 0 auto;
}

h1 {
  font-family: serif;
  font-weight: 2000;
  line-height: 1.1;
  color: inherit;
}

a {
color: #3B4BA1;
text-decoration: none;
}

.home {
  width:200;
  height:230px;
}

.title_image_div {
  width:100%;
}



/***************************PET FEED *************************/

.feed {
  margin-left : 150px;
  margin-right: 150px;
}

.feed_title {
  text-align : left;
  margin-bottom: 30px;
}

.feed_title > h1 {
  font-weight:900;
  color : #0588a8;
//  color : #0588a8;
}

/**************************PET POST ***************************/


.post {
  margin-left : 100px;
  margin-right : 100px;
}

.post_container {
  //border : 3px solid #2D78A0;
  background-color: #2d78a0;
  border : 3px solid white;
  color: #fefcf8;
  padding : 15px;
  border-radius : 20px;
  margin : 20px;  
  overflow: auto;
}


  
.post_receiver {
  text-align: left;
  font-weight: 800;
  font-size:20px;
  margin-bottom : 4px;
}

.post_receiver > a{
  color : white;
}


.post_receiver > span {
  font-weight: 700;
  font-size: 15px;
  margin-bottom : 4px;
  color : #DB8A58;
}

.post_author {
  text-align: left;
  font-weight: 800;
  font-size:20px;
  margin-bottom : 4px;
}

.post_author > a{
  color : white;
}

.post_time {
  text-align: left;
  font-size : 14px;
  font-weight: 700;
  margin-bottom : 5px;
  color : #CC7D4B;
}

.post_data {
  text-align: left;
  border : 2px solid #f2700c;
  border-radius : 10px;
  overflow: auto;
  padding: 5px;
}

.post_photo {
  border : 2px solid black;
  margin-top : 3px;
  margin-right : 3px;
  margin-bottom : 3px;
  border-radius : 6px;
  
}

.post_body {
  font-weight: 900;
  font-size:18px;
  color: white;
  //color: #326D8C;
}

.post_body > span {
  font-weight: 900;
  font-size:20px;
  //color: white;
}


/***************************PET HOME **************************/

.pet_home {
  margin-left : 150px;
  margin-right : 150px;
}

.pet_home_pet_box {
  float: left;
  width : 110px;
  margin : 10px;
  text-align: center;
}

.pet_photo {
    //max-width: 100%;
    //height: auto;
    //width: auto\9; /* ie8 */

  border : 1px solid #2D78A0;
  border-radius : 20px;
  width:100%;
}

.pet_home_follow_button {
  margin: 5px;
}

.pet_home_data {
  font-weight:900;
}

.btn-follow {
  //border : 1px solid black;
  font-family : Helvetica;
  background-color: #ff8c06;
  font-size : 14px;
  font-weight:900;
  text-align: center;
  width : 95px;
}

.btn-follow:hover {
  background-color: #ff2468;
}

.btn-unfollow {
  //border : 1px solid black;
  font-family : Helvetica;
  background-color: #e0dad6;
  font-size : 14px;
  font-weight:900;
  text-align: center;
  width : 95px;
}

.btn-unfollow:hover {
  background-color: white;
}

/***********************POST POST *************************/

.post_post_recipient {
  text-align:left;
  width:100%;
  overflow-y: auto;
  overflow-x:hidden;
}

.post_post {
  margin-left:100px;
  margin-right:100px;
}



/***********************PET APPROVAL POST *****************/

.approve {
  margin-left : 150px;
  margin-right : 150px;
}

.approve_title {
  text-align:left;
  margin-bottom:30px;
}

.approve_title > h1 {
  font-weight:700;
  color : black;
}

.tab-content {
  text-align:left;
  height:400px;
  overflow-y: auto;
  overflow-x:hidden;
}

.tab-pane {
  border : 3px solid #fefcf8;
  background-color : #eca02f;
}

.public-btn {
  margin-top: 4px;
}

button.public {
  font-family : Helvetica;
  background-color: #ff8c06;
  font-size : 12px;
  font-weight:900;
  text-align: center;
  width : 95px;
}

button.public:hover {
  background-color: #ff2468;
}

.private-btn {
  margin-top: 5px;
}

button.private {
  font-family : Helvetica;
  background-color: #e0dad6;
  font-size : 12px;
  font-weight:900;
  text-align: center;
  width : 95px;
}

button.private:hover {
  background-color: white;
}



/************************PET WALL **********************/
.pet_wall#pet_post {
  background-color : #eca02f;
  margin : 10px;
  border : 3px solid #fefcf8;
  border-radius : 10px;
  padding : 10px;
  height:180px
}

.pet_wall#pet_wall {
  background-color : #eca02f;
  margin : 10px;
  border : 3px solid #fefcf8;
  border-radius : 10px;
  padding : 10px;
}

.buttons {
  margin:5px
}


/**********************PET TESTIMONIAL****************/

.testimonial_box {
  background-color : #eca02f;
  margin : 10px;
  border : 3px solid #fefcf8;
  border-radius : 10px;
  padding : 10px;
}

.testimonial_title {
  margin-bottom: 20px;
}

.testimonial_title > h1 {
  font-weight:900;
  color : #0588a8;
}

/*********************USER WALL***********************/
.user_wall#user_wall {
  background-color : #eca02f;
  border-radius : 10px;
  margin : 10px;
  width : 600px;
  border : 3px solid #fefcf8;
  padding : 10px;
}

/*********************USER SHOW***********************/
.user_show {
  margin-left : 100px;
  margin-right : 100px;
  overlap : auto;
  text-align : center;
}

.top_header {
  margin-right : 30px;
}

.user_wall {
  margin-left : 30px;
}

/********************PET SHOW************************/

.profile_header {
  background-color: #2d78a0;
  border : 3px solid white;
  color: #fefcf8;
  padding : 15px;
  border-radius : 20px;
  margin : 20px;
  overflow: auto;
}

.profile_name > h2 {
  color: white;
  font-weight: 600px;
  text-align: left;
}

.profile_follower {
  text-align: left;
}

.profile_follower > a{
  color:white;
}


.profile_owner {
  text-align: left;
}

.profile_owner > a{
  color:white;
}


.profile_gallery {
  text-align: left;
}

.profile_gallery > a {
  color:white;
}

.pet_home_photo {
  border : 3px solid black;
  border-radius : 20px;
  width:100%;
}

.profile_about > h4 {
  text-align :left;
  color: white;
}

.profile_about > p {
  color: white;
}


/*************************PET GALLERY *********************/

.gallery {
  margin-left : 150px;
  margin-right : 150px;
}

.photo_container {
  float : left;
  width : 110px;
  margin : 10px;
}

.gallery_photo {
  border : 2px solid #2D78A0;
  border-radius : 20px;
}

.modal_photo {
  border: 0 none;
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.back_button {
  position : relative;
  bottom : 5px;
}

.form_post {
  background-color: #2d78a0;
  border : 3px solid white;
  color: #fefcf8;
  padding : 15px;
  border-radius : 20px;
  overflow: auto;
}

textarea {
  width:80%;
/*  width:500px;
  min-width: 500px;
  max-width: 500px;
  
  height:150px;
  min-height:150px;
  max-height:150px;
  */
}


.pet_show_view {
  width : 600px;

}

/*********************PET JOY***************************/

.petjoy_main {
  margin-top : 30px;
  margin-left : 30px;
  margin-right : 70px;
}

.about_bio {
  margin:30px;
}

.petjoy_tag {
  margin-bottom: 40px;
}


.form_post > h3 {
  color :white;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: inherit;
font-weight: 500;
line-height: 1.1;
color: black;
}

.navbar-default .navbar-nav > li > a.guest {
  color: #eca02f;
  font-size: 20px;
  font-weight :900;
}

.navbar-default .navbar-nav > li > a.guest:hover {
  color: red;
}








