// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div{
  display: block;
}

.post_post_form {
  float: left;
  width: 400px;
  padding: 20px, 100px;
}

.post_post_recipient {
  float: left;
  position: relative;
}